<manifest xmlns:android="http://schemas.android.com/apk/res/android"

          package="com.bing.lan.comm"
>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:supportsRtl="true"
    >



    <meta-data android:name="com.bing.lan.comm.load.GlideCache"
               android:value="GlideModule"/>

    </application>

</manifest>
